body{
    color: white;
    background: black;
}
.heading{
    font-size: 25px;
}
#ID{
    color:red;
}
#Ko{
    color: green;
}

#oK{
    color: red;
}

#camera{
 height: 300px;
 width: 300px;
 border-width: 2px;
 border-color: white;
 border-style: solid;
}